<!doctype html>
<html>
  <head>
    <title>{{ page_title }}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    {{ 'app.css'|asset_url|stylesheet_tag }}
    {{ 'swiper.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'swiper.min.js' | asset_url }}"></script>
    <script defer src="{{ 'alpine.min.js' | asset_url }}"></script>
    <style>
      :root {
        --primary-color: {{ settings.primary_color }};
        --secondary-color: {{ settings.secondary_color }};
      }
    </style>
  </head>
  <body>


    <div id="loader" class="hidden">
      <div class="animated-circle"></div>
    </div>

    {%- section 'announcement-bar' -%}
    {%- section 'header' -%}
   
    <main role="main" x-data="" class="min-60">
      {{ content_for_layout }}
    </main>
    {%- section 'footer' -%}
    
  </body>
</html>
